version: '3.8'

services:
  quiz-api:
    build:
      context: ./API/src/com.awawawiwa
      dockerfile: Dockerfile  
    container_name: quiz_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    env_file: ".env"
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - quiz-network

  db:
    image: postgres
    restart: always
    container_name: quiz_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - quiz_data:/var/lib/postgresql/data
    networks:
      - quiz-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - db
    networks:
      - quiz-network
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  quiz_data:
  pgadmin_data:

networks:
  quiz-network:
    driver: bridge